<div class="container">
    <h1>Lists</h1>
    <app-list *ngFor="let list of lists" [lists]='list'></app-list>
    <mat-form-field>
        <input matInput placeholder="New list..." (input)="inputChanged($event)">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)=" CreateNewList()">Create</button>
</div>