.items{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    border: 1px black solid;
    height: auto;
    box-shadow:0 0 10px gray;
    border: none;
    
    .text{
        max-width: 80%;
        margin-left: 10px;
        word-wrap: break-word;
    }
    .miniButton{
       margin-left: auto;
    }
}

