<mat-card mat-card class="items" *ngIf="items.done">
    <s class="text">{{items.title}}</s>
</mat-card>
<mat-card class="items" *ngIf="!items.done">
    <span class="text">{{items.title}}</span>
    <div class="miniButton">
        <button mat-mini-fab color="primary" (click)="addNewItem(items.id)">
            <span class="material-icons">
                close
            </span>
        </button>
    </div>
</mat-card>