<div class="itemPageContainer">
    <h1>Todos</h1>
    <mat-form-field>
        <input matInput placeholder="Search..." id="" (input)="searchItem($event)">
    </mat-form-field>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1" checked="checked" (click)="getItems(true)" color="primary">All</mat-radio-button>
        <br>
        <mat-radio-button value="2" (click)="getItems(false)" color="primary">Undone</mat-radio-button>
    </mat-radio-group>
    <app-item *ngFor="let item of filteredItems" [items]='item' (newItemEvent)="updateItemDone($event)"></app-item>
    <mat-form-field>
        <input matInput placeholder="Add todo..." (keyup.enter)="createNewItem($event) ">
    </mat-form-field>
</div>